<div class="skillsSection">
  <h2>Skills</h2>
  <hr>

  <div class="cardBackground uk-card uk-card-default uk-card-body uk-border-rounded">
    <h3 class="uk-card-title">Front End</h3>
    <div class="skillGrid uk-grid-column-small uk-grid-row-large uk-child-width-1-3@s uk-text-center" uk-grid uk-height-match="target: > div > div > p">

      <div *ngFor="let skill of skillsFrontEnd">
        <div class="uk-card uk-card-default uk-card-body uk-border-rounded">

          <img src ="{{skill.iconImagePath}}">
          <h3 class="uk-card-title">{{skill.title}}</h3>
          <p>{{skill.description}}</p>

        </div>
      </div>
    </div>
  </div>


  <div class="cardBackground uk-card uk-card-default uk-card-body uk-border-rounded">
    <h3 class="uk-card-title">Back End</h3>
    <div class="skillGrid uk-grid-match uk-child-width-expand@s uk-grid-column-small uk-grid-row-large uk-text-center " uk-grid uk-height-match="target: > div > div > p">
      <div class="skill uk-width-1-3"*ngFor="let skill of skillsBackEnd">
        <div class="uk-card uk-card-default uk-card-body uk-border-rounded " >
          <img class="icon" src ="{{skill.iconImagePath}}">
          <h3 class="uk-card-title">{{skill.title}}</h3>
          <p>{{skill.description}}</p>
        </div>
      </div>

    </div>

  </div>
</div>
