<div class="aboutSection uk-grid-column-small uk-grid-match uk-grid-row-large uk-child-width-expand@s uk-text-center" uk-grid>

    <img class="aboutImage" src = "assets/img/large/me_thumb.webp" alt="Picture of me at UT Expo">
    <div class="textBox uk-card">
      <h4>Hello! I'm Kendall Nicley</h4>
      <hr>
      <p>I'm a software engineer who is interested in all things programming. </p>
      <br>
      <p>
        I enjoy problem solving and making code more efficient and more reliable. This interest was discovered in college when taking a programming class
        This lead me down a path where I would go on to take everything I could from networking, cybersecurity, different programming languages, and even IoT devies. This drive led me to volunteer for the Tennessee
        Board of Reagents(TBR) where I was introduced to new technologies with the purpose of finding and presenting the possible uses in the classroom.
      </p>

      <p>
        I believe that persistance and willingness to learn are the keys to being a great developer, and i'm fueled by a passion to learn more about my career field and using that knowledge develop my skill set and becoming a better programmer.
      </p>

      <p>
        Currently I'm a software engineer at PerfectServe, a company that provides mobile communications to medical professionals. My main focus being to provide features
        and improved experiences to our users.
      </p>

  </div>



</div>


