.picsum-img-wrapper{
  position: relative;
  display: flex;
  height: 100vh;
  background-size: 100% auto;
  width: 100%;
}

.picsum-img-wrapper img {
  width: 100%;
}

.carousel-control-prev-icon {
  z-index: 20;
}
.carousel-control-next-icon {
  z-index: 20;
}
