<div class="topOverlay">
  <div class="overlayInfo">
    <p>Kendall Nicley</p>
    <ngx-sbz-type-delete [wordArray]="['Software Engineer', 'Full Stack Engineer']" textColor="white" fontSize="2vw" [typingSpeedMilliseconds]=100 [deleteSpeedMilliseconds]=100></ngx-sbz-type-delete>
    <a href="https://www.linkedin.com/in/kendall-nicley/" target="_blank" aria-label="Linked-in" class="mainInfo" ><i class="fa fa-linkedin"></i></a>
    <a href="https://github.com/bitforbyte" target="_blank" alt="github link" aria-label="Github" class="mainInfo" ><i class="fa fa-github"></i></a>
  </div>
</div>
