.nav-link{
  font-size: 1vw;
  color:#9d9d9d;
}

.nav-link :active{
  color:blue;
}

.NgbNavItem {
  color: grey;
}

ul {
  background-color: #4d4d4d;
}

.sticky{
  position:sticky;
  top: 0;
  overflow: hidden;
  z-index: 10;
  width: 100%;
}
