<div #ngNavAnchor></div>
<ul ngbNav #stickyMenu [class.sticky]="sticky" #nav="ngbNav" class="nav-tabs">
  <li ngbNavItem>
    <a ngbNavLink  (click)="toHome()"  class="Portfolio">Portfolio</a>
  </li>
  <li ngbNavItem>
    <a ngbNavLink (click)="toAbout()">About</a>
  </li>
  <li ngbNavItem>
    <a ngbNavLink (click)="toExperience()">Experience</a>
  </li>
  <li ngbNavItem>
    <a ngbNavLink (click)="toSkills()">Skills</a>
  </li>
  <li ngbNavItem>
    <a ngbNavLink (click)="toContactMe()">Contact Me</a>
  </li>
</ul>
<div [ngbNavOutlet]="nav"></div>
